/* Mix */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Tipography */
.menu, .albums {
  color: #666666;
}

.menu h4 {
  padding: 5px 15px;
  font-size: 13px;
}

h2, h3, h4 {
  color: #fff;
}

a {
  color: currentColor;
  text-decoration: none;
}
/* Tipography end */
/* Buttons */
.menu__btn {
  border-left: 3px solid transparent;
  padding: 8px 15px;
  display: block;
}

.menu__btn:focus {
  border-color: #adff2f;
  color: #fff;
}

.menu__btn__download img  {
  height: 13px;
  vertical-align: middle;
  margin-right: 15px;
}

.menu__btn__profile {
  color: #fff;
  width: 100%;
  font-size: 11px;
}

.menu__btn__profile img {
  background-color: grey;
  border-radius: 50%;
  padding: 1px;
  height: 18px;
  vertical-align: sub;
  margin-right: 10px;
}

.upgrade__btn  {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-right: 17px;
}
/* Buttons end */
/* Mix end */
main {
  display: flex;
  max-height: 100vh;
}
/* menu */
.menu {
  width: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
  font-size: 10px;
  font-weight: 700;
}

.logo {
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
  padding: 15px;
}

.logo img {
  width: 75%;
}

.search {
  background-color: #000;
  border:none;
  color: white;
  padding: 5px 0;
  width: 60%;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

.search__li {
  padding-left: 15px;
}

.menu ul li {
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  display: block;
}

.app_nav li img  {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}


.fa-plus {
  padding: 6px;
  background-color: lightgrey;
  color: #000;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.playlist_nav {
  overflow-y: auto;
}

/* get app and profile settings */
.menu__bottom {
  height: 100px;
}

.menu hr {
  margin: 5px 10px;
  border-color: #666666;
}
/* get app and profile settings  */
/* menu end */
/* main page */
.main_page {
  background-color: #141922;
  width: calc(100% - 200px);
}

.upgrade {
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(100% - 200px);
  height: 100px;
  position: fixed;
  text-align: right;
  z-index: 1;
  line-height: 100px;
  vertical-align: center;
  color: #fff;
}

.albums  {
  overflow: auto;
  padding: 100px 30px;
  height: 100%;
}

.albums nav {
  text-align: center;
}

.albums ul li {
  list-style: none;
  display: inline-block;
}

.albums ul li a {
  text-decoration: none;
  color: currentColor;
  text-transform: uppercase;
}

.showcase {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.exhibit_box {
  width: calc((100% / 6) - 10px);
  text-align: center;
}

.exhibit_box:not(:last-child) {
  margin-right: 10px;
}

.exhibit_box img {
  width: 100%;
}
/* main page end */
/* footer  */
.media_player {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: grey;
  position: fixed;
  bottom: 0;
}

.media_player * {
  width: 100px;
  height: 100%;
  background-color: blue;
}
/* footer  */
@media screen and (max-width: 992px) {
  .showcase {
    justify-content: flex-start;
  }

  .exhibit_box {
    width: calc((100% / 4) - 10px);
  }
}

@media screen and (max-width: 767px) {
  .menu {
    width: 50px;
  }

  .logo {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
  }

  .playlist_nav {
    display: none;
  }

  .exhibit_box {
    width: calc((100% / 2) - 10px);
  }
}
