/* Mix */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Tipography */
.menu, .albums {
  color: #666666;
}

h2 {
  padding-top: 50px;
}

.albums h3  {
  font-size: 15px;
  margin: 13px 0;
}

.menu h4 {
  padding: 5px 15px;
  font-size: 13px;
}

h2, h3, h4 {
  color: #fff;
}

.albums h5 {
  font-size: 11px;
  padding-bottom: 10px;
}

.song_info h5 {
  font-size: 11px;
  color: #fff;
}

h6 {
  font-size: 9px;
}

a {
  color: currentColor;
  text-decoration: none;
}

.menu a:hover {
  color:#fff;
}
/* Tipography end */
/* Buttons */
.menu__btn {
  border-left: 3px solid transparent;
  padding: 8px 15px;
  display: block;
}

.menu__btn:focus {
  border-color: #adff2f;
  color: #fff;
}

.menu__btn__download img  {
  height: 13px;
  vertical-align: middle;
  margin-right: 15px;
}

.menu__btn__profile {
  color: #fff;
  width: 100%;
  font-size: 11px;
}

.menu__btn__profile img {
  background-color: grey;
  border-radius: 50%;
  padding: 1px;
  height: 18px;
  vertical-align: sub;
  margin-right: 10px;
}

.upgrade__btn  {
  padding: 10px 36px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 60px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-right: 17px;
  transition: 0.1s;
  cursor: pointer;
}

.upgrade__btn:hover {
  transform: scale(1.1);
}
/* Buttons end */
/* Mix end */
main {
  display: flex;
  max-height: 100vh;
}
/* menu */
.menu {
  width: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  font-size: 10px;
  font-weight: 700;
}

.logo {
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
  padding: 15px;
}

.logo--big {
  width: 75%;
}

.logo--small {
  display: none;
}

.search {
  background-color: #000;
  border:none;
  color: white;
  padding: 5px 0;
  width: 60%;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  cursor: inherit;
}

.search:hover::-webkit-input-placeholder {
  color: #fff;
}

.search:hover::-moz-placeholder {
  color: #fff;
}

.search:hover:-ms-input-placeholder {
  color: #fff;
}

.search:hover:-moz-placeholder {
  color: #fff;
}

.search__li {
  padding-left: 15px;
  cursor: pointer;
}

.menu ul li {
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  display: block;
}

.app_nav li img  {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}


.fa-plus {
  padding: 6px;
  background-color: lightgrey;
  color: #000;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.playlist_nav {
  overflow-y: auto;
}

/* get app and profile settings */
.menu__bottom {
  margin-top: auto;
}

.menu hr {
  margin: 5px 10px;
  border-color: #666666;
}
/* get app and profile settings  */
/* menu end */
/* main page */
.main_page {
  background-color: #141922;
  width: calc(100% - 200px);
}

.upgrade {
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(100% - 200px);
  height: 80px;
  position: fixed;
  text-align: right;
  z-index: 10;
  line-height: 80px;
  color: #fff;
}

.albums  {
  overflow: auto;
  padding: 100px 30px;
  height: 100%;
}
/* albums navbar */
.albums nav {
  text-align: center;
}

.albums ul li:not(:last-child) {
  margin-right: 25px;
}

.albums ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.albums ul li a {
  text-decoration: none;
  color: currentColor;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.albums ul li a:hover {
  color: #fff;
}

.albums .focus::after {
  content: "";
  display: inline-block;
  width: 24px;
  border: 1px solid #a3f12e;
  position: absolute;
  bottom: -3px;
  left: calc(50% - 12px);
  border-radius: 20px;
}
/* albums navbar end */

.recently_played h2 {
  padding-bottom: 30px;
}

.main_page section p {
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 12px;
  font-weight: 600;
}

.showcase {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.exhibit_box {
  width: calc((100% / 6) - 10px);
  text-align: center;
  cursor: pointer;
}

.exhibit_box:not(:last-child) {
  margin-right: 10px;
}

.thumbnail {
  position: relative
}

.exhibit_box img {
  width: 100%;
  position: relative;
  display: block;
}

.thumbnail::after {
  opacity: 0;
  font-family: "Font Awesome 5 Free";
  content: "\f144";
  font-size: 60px;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exhibit_box:hover .thumbnail::after {
  opacity: 1;
}

.thumbnail--circular {
  border-radius: 50%;
  overflow: hidden;
}
/* main page end */
/* footer  */
.media_player {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  z-index: 10;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.media_player i {
  cursor: pointer;
}

.current_song {
  display: flex;
  align-items: center;
}

.current_song {
  color: #666666;
  width: 20%;
}

.current_song i:hover {
  color: #fff;
}

.current_song img {
  max-height: 50px;
}

.song_info {
  margin-left: 10px;
  width: 125px;
}

.song_info h5:hover, .song_info h6:hover  {
  text-decoration: underline;
  cursor: pointer;
}

.add_favorites {
  display: flex;
}

.add_favorites .fa-heart {
  margin-right: 12px;
}

.add_favorites .fa-folder {
  display: inline-block;
}

.controls  {
  width: 50%;
}

.controls__timeline {
  text-align: center;
  font-size: 10px;
}

.controls__timeline span {
  vertical-align: middle;
  font-weight: 600;
}

.timeline {
  display: inline-block;
  width: calc(100% - 270px);
  position: relative;
  height: 4px;
  border-radius: 5px;
  background-color: #666666;
  border: 2px;
  border-color: white;
  margin: 0 15px;
  margin-top: 10px;
  cursor: pointer;
  min-width: 123px;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 25%;
  height: inherit;
  left: 0;
  background-color: #c1c1c1;
  border-radius: inherit;
}

.timeline:hover::before {
  background-color: #adff2f
}

.timeline:hover::after {
  content: "";
  position: absolute;
  left: calc(25% - 4px);
  bottom: -3px;
  vertical-align: middle;
  background-color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.control__keys {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control__keys > * {
  font-size: 15px;
}

.control__keys .fa-play-circle {
  font-size: 25px;
}

.control__keys .fa-play-circle:hover {
  transform: scale(1.3);
}

.control__keys *:not(:last-child) {
  margin-right: 20px;
}

.streaming_settings  {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.streaming_settings .fas {
  margin-right: 18px;
  font-size: 12px;
}

.volume {
  position: relative;
  min-width:100px;
  height: 4px;
  border-radius: 5px;
  background-color: #666666;
  border: 2px;
  border-color: white;
  cursor: pointer;
}

.volume::before {
  content: "";
  position: absolute;
  width: 30%;
  height: inherit;
  left: 0;
  background-color: #c1c1c1;
  border-radius: inherit;
}

.volume:hover::before {
  background-color: #adff2f
}

.volume:hover::after {
  content: "";
  position: absolute;
  left: 27px;
  bottom: -3px;
  vertical-align: middle;
  background-color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* footer emd */
@media screen and (max-width: 1170px) {
  .showcase {
    justify-content: flex-start;
  }

  .exhibit_box {
    width: calc((100% / 4) - 10px);
  }
}

@media screen and (max-width: 992px) {
  .exhibit_box {
    width: calc((100% / 2) - 10px);
  }

  .add_favorites {
    flex-direction: column;
  }

  .add_favorites .fa-heart {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    width: 50px;
  }

  .menu__text {
    display: none;
  }

  .logo--big {
    display: none;
  }

  .logo--small {
    display: inline-block;
    width: 25px;
  }

  .playlist_nav {
    display: none;
  }

  .upgrade {
    width: calc(100% - 50px);
  }

  .main_page {
    width: calc(100% - 50px);
  }

  .current_song img {
    height: 20px;
  }

  .streaming_settings .fas {
    margin-right: 5px;
  }

  .timeline {
    margin: 0 5px;
  }

  .volume {
    margin-top: 5px;
  }
}

@media screen and (max-height: 500px) {
  .upgrade {
    display: none;
  }

  .albums {
    padding-top: 10px;
  }
}
